.list_container {
  margin-top: 10px;
  width: 95%;
  left: 0;
  overflow-x: auto;
  
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  color: #6CB4EE;
}
.li {
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
  color: #00308F;
}

.item {
  background-color: #F0F8FF;
  border-radius: 10px;
  padding: 5px 10px;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.list_container::-webkit-scrollbar {
  display: none;
}

@media (min-width: 430px) {
  

  .list {
    position: absolute;
    right: 0;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    
  }

    .li{
      margin-top: 2rem;
    }
 
  
}
