.remark {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  font-style: italic;
  padding: 0.5rem;
  text-align: right;
  margin-bottom: 0.5rem;
}

.glass {
  /* From https://css.glass */
  background: rgba(31, 28, 28, 0.76);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(31, 28, 28, 1);

  color: white;
  text-align: right;
  margin-bottom: 1rem;
}

.detail {
  color: #fe3b32;
  text-decoration: none;
  font-weight: bold;
  font-size: 5vw;
}

.item {
  justify-content: space-between;
}

.start {
  display: flex;
  margin: 20px;
}

.right {
  flex-basis: 70%;
}

.amount {
  width: 30%;
  background-color: white;
  border-radius: 10px;
  font-style: italic;
  padding: 0.5rem;
  font-weight: bold;
}

.plus_button {
  width: 10%;
  height: 2rem;
  margin-right: 1rem;
  background-color: white;
  border-radius: 20px;
  border-color: orange;
}

.img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 10px 18px #888888;
}
.div__img {
  flex-basis: 40%;
}

.div {
  display: inline-block;
}
@media (min-width: 600px) {
  .detail {
    font-size: 30px;
  }
  .glass {
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
