.glass {
  /* From https://css.glass */
  background: rgba(15, 14, 14, 0.76);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid black;

  margin-bottom: 1rem;
  padding: 10px;
  width: 48%;
  margin-right: auto;
  height: 30vh;

  display: table-cell;
}

.admin {
  color: orange;
  background-color: white;
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  border: orange 1px solid;
}

.admin:hover {
  color: white;
  background-color: orange;
}
.nodeco {
  color: orange;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}


.nodeco:hover {
  color: white;
}



.img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 2px solid orange;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
}
