.li {
  background: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.379);
  list-style: none;

  width: 100%;
  height: 30vh;
  position: relative;
  margin-bottom: 8vw;
  border-radius: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  top: 35vw;
  position: absolute;
  right: 0;
  margin-right: 2rem;
  color: #72a0c1;
}

.img {
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  margin: -7vw -7vw 0 0;
  border: 2px solid #7cb9e8;
}

.details p {
  color: #72a0c1;
  font-size: xx-large;
  text-align: right;
  font-weight: bolder;
  /* font-family: oldstyle-nums; */
}

.stars {
  top: 1rem;
  width: min-content;
  left: 1rem;
  position: absolute;
}

.admin {
  display: flex;
  flex-direction: column;
  top: 1rem;
  left: 3rem;
  position: absolute;
  align-items: center;
}

.admin button {
  background-color: white;
  border: #72a0c1 2px solid;
  border-radius: 5px;
  width: 5rem;
  margin: 1rem;
  color: #00308f;
}
.admin a {
  text-align: center;
  text-decoration: none;
  background-color: white;
  border: #72a0c1 2px solid;
  border-radius: 5px;
  width: 5rem;
  color: #00308f;
}

.details span {
  font-size: large;
  font-weight: bolder;
  text-align: right;
  font-style: italic;
  /* font-family: cursive; */
}

.add {
  bottom: 0;
  position: absolute;
  left: 0;
  margin: 0 0 2rem 2rem;
}

.plus_button {
  background-color: transparent;
  border: none;
  color: #00308f;
  font-weight: bold;
  margin-right: 10px;
}

@media (min-width: 440px) {
  .img {
    width: 40vh;
    height: 40vh;
    margin: -5vh -5vh 0 0;
    border-radius: 50%;
    border: 2px solid #7cb9e8;
    right: 0;
    position: absolute;
  }

  .details {
    top: 0;
    margin: 5vh 40vh 0 0;
  }

  .name {
    order: -1;
  }

  .stars {
    margin: 4vh 0 0 5vh;
  }

  .admin {
    margin: 4vh 0 0 7vh;
  }

  .add {
    margin: 0 0 2rem 15vh;
  }
}

@media (min-width: 440px) {
  .li {
    min-width: 600px;
  }
}
