.ul-item{
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 10px 15px;
}

.div-search{
    text-align: center;
    margin: 20px;
}

.div-search__input{
    text-align: right;
}