.ul-item{
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    /* margin: auto; */
    /* text-align: center; */
    /* padding-inline-start: 0; */

    
    
}

.div{

    width: 80%;
    margin: auto;
    margin-top: 7vw;
    /* width: 90vw;
    margin-left: auto;
    margin-right: auto; */
}

.div-search{
    text-align: center;
    margin: 20px;
}
.noFound{
    text-align: center;
    color: red;
    font-weight: bolder;
    font-size: larger;
}

.div-search__input{
    text-align: center;
    font-size: larger;
    width: 80%;
    border-radius: 10px;
}


@media (min-width: 430px){
    
    .div{
        width: 50vw;
    }
}

/* @media (max-width: 430px){
    .div{
        height: 78vh;
        overflow-y: scroll;
    
        
    }

    .ul-item{
        margin: 7vw 7vw 0 0;

    }

    .div::-webkit-scrollbar {
        display: none;
      }
    
} */
