.div-show-price{
    text-align: right;
}

.div_span{
    
}

.btn {
    border-radius: 0 0 0 5px;
    background-color: #3e424b;
    color: white;
    margin: 0px 5px;
}
.btn_ord{
    border-radius: 0 0 0 5px;
    background-color: #EC9706;
    color: white;
}