* {
    box-sizing: border-box;
}

.main-header {
    background-color: white;
    padding: 8px 16px;
    height: 100px;
}

.main-div{
    display: inline-block;
    margin-top: 20px;
}
.main-div__brand{
    color:#EC9706;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 79px);
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav__item{
    display: inline-block;
    margin: 0px 16px;
}

.main-nav__item a{
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #EC9706;
    border-bottom: 5px solid;
}

.main-nav__item--cta a {
    padding: 8px 16px;
    background-color: #ff1b68;
    color: white;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    border: none;
    color: #ff1b68;
    background: white;
}