.name a {
  text-decoration: dashed;
}
.nav {
  align-items: center;
  z-index: 99999;
}

.nav li {
  margin: 0;
  margin-left: 2rem;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: orange;
  border-bottom: 1px solid orange;
}

.nav .mobileNav {
  display: none;
}

.category {
  display: none;
}

@media (max-width: 600px) {
  .nav .mobileNav {
    display: flex;
    align-items: center;
  }
  .nav .mobileNav .hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }

  .category {
    display: flex;
    color: orange;
    background-color: transparent;
    border: none;
  }
  .category_list {
    display: flex;
    flex-direction: column;
    right: 0;
  }

  .nav_ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: rgba(31, 31, 31, 0.86);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border-bottom: 1px solid rgba(31, 31, 31, 1);

    border-top: 2px solid orange;
    padding-bottom: 1rem;
  }
  .nav li {
    padding-top: 1rem;
  }
  .nav a:hover,
  .nav a:active,
  .nav a.active {
    color: orange;
    border-bottom: none;
  }

  .nav .deskBar {
    display: none;
  }
}
