.table {
  text-align: right;
  color: #72a0c1;
}

.table h1 {
  color: #004687;
  text-align: center;
  margin-top: 20px;
}

.table h4 {
  text-align: center;
}

.status {
  width: 80%;
  margin: auto;
}

.yes {
  background-color: green;
}
.no {
  background-color: gray;
}

.status div {
  border-color: #7cb9e8 0.5px;
  border-style: solid;
  padding: 2px;
  border-radius: 3px;
  margin: 2px;
  min-width: 60px;
  text-align: center;
}

.item {
  width: 90%;
  margin: auto;
  justify-content: space-between;
  color: #7cb9e8;
}
.price {
  background-color: #004687;
}
.table h4 {
  width: max-content;
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;
}
.item th {
  color: #004687;
  text-align: center;
}
.tip{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: max-content;
}

.tip input {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border-color: white;
  text-align: center;
  font-size: larger;
}
.buttons{
  width: max-content;
  margin: auto;
}
.table button{
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: #abb9cc;
  border: 1px solid #87cefa;
  color: #00416a;
  width: max-content;
  height: 2rem;
}

.table button:disabled{
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: gainsboro;
  border: 1px solid #87cefa;
  color: gray;
  width: max-content;
  height: 2rem;
}

.empty{
  margin: 7rem;
  color: #004687;
  text-align: center;
}
.emptyCart{
  cursor: pointer;
margin-top: 3rem;
  font-size: 60px;
}



.delete{
  cursor: pointer;
}

.payment{
    margin: auto;
    width: max-content;
}

@media (min-width: 600px) {
  .item th {
    text-align: right;
  }
}
