
.table{
    text-align: right;
    color: #72a0c1;

    
}

.table h1 {
    color: #004687;
    text-align: center;
    margin-top: 20px ;
}

.table h4 {
    
    text-align: center;
}

.status{
    display: flex;
    flex-direction: row;
    
}


.yes{
    background-color: green;
    
}
.no{
    background-color: gray;
    
}

.status div{
    border-color: #7cb9e8 0.5px;
    border-style: solid;
    padding: 2px;
    border-radius: 3px;
    margin: 2px;
    min-width: 60px;
    text-align: center;
}

.item{
    width: auto;
    margin: auto;
    justify-content: space-between;
    color: #7cb9e8;

  
    
    
}
.table h4{
    width: max-content;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
}
.item th {
    color: #004687;
    text-align: right;
}