.card {
  width: 40vw;
  margin: 5vw;
  text-align: center;
  border: 1px solid #ffe3b3;
  border-radius: 10px;
  flex:  39%;
  background-color: #ffc172;

  max-width: 40%;
}

.card h1 {
    color: #ff7a66;
    margin-left: 1rem;
    margin-right: 1rem;
  border-bottom: 2px solid #ffe3b3;

}

.card a {
    color: white;
    text-decoration: none;
    
  }
  
  .card a:hover,
  .card a:active,
  .card a.active {
    color: #7e1470;
    border: 1px solid #7e1470;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
  }



@media (max-width: 600px) {
  .card {
    flex: 100%;

    max-width: 100%;
    
  

  }
}
