
.table{
    text-align: right;
}

.table h1 {
    color: #ffc172;
    text-align: center;
}

.table h4 {
    
    text-align: center;
}

.item{
    width: 80vw;
    margin-left: 10vw;
    
    
}
.item th {
    color: #ff7a66;
}