.contact{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: orange;
  text-align: center;
  
  width: 200px;
  margin: 20px auto 20px;
  background: rgba(31, 28, 28, 0.76);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(31, 28, 28, 1);
  
}

.contact h3{
    margin: 10px;
}