.notClicked{
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: #abb9cc;
  border: 1px solid #87cefa;
  color: #00416a;
  width: 5rem;
  height: 2rem;
}

.notClicked:hover,
.clicked {
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: #00416a;
  border: 1px solid #87cefa;
  color: #abb9cc;
  width: 5rem;
  height: 2rem;
  
}
