.item {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
  color: aliceblue;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 8px 8px #4b556b;

  text-align: right;
  margin: 5%;
}

.detail{
    margin-right: 2rem;
}

.title {
  text-align: right;
}

.buttons{
    margin-left: 2rem;
    display: flex;
}
