.item {
  /* display: flex;
  justify-content: space-between; */
  

}

.detail{
    margin-right: 2rem;
}

.title {
  text-align: right;
}


.buttons{
    margin-left: 2rem;
    display: flex;
}

.chefProduct{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #00416a;
}
